


<MudText Typo="Typo.h4" GutterBottom="true">Not logged in</MudText>

<MudText Style="margin: 20px 0 20px 0">You have to log in to access this site</MudText>

<div Class="d-flex justify-space-between align-center">

    <MudFab Icon="@Icons.Material.Filled.Login" Style="width: 200px" Link="/pages/authentication/login" Class="mr-6 mud-theme-primary" Label="Login"/>
    <MudFab Icon="@Icons.Material.Filled.AppRegistration" Style="width: 200px" Link="/pages/authentication/register" Class="mr-6 mud-theme-secondary" Label="Sign up"/>
</div>


@code { }